<h1>Product Description in Directive</h1>
<div class="row">
     <div class="col-xs-3">
        Name:
     </div>
    <div class="col-xs-3">
        <input type="text" ng-model="nameOfTheProduct" />
    </div>
    {{nameOfTheProduct}}
</div>
<br />
<div class="row">
    <div class="col-xs-3">
        <input type="text" ng-model="productDetails.name" placeholder="name"/>
    </div>
    <div class="col-xs-3">
        <input type="text" ng-model="productDetails.price" placeholder="Price" />
    </div>
</div>