<!--<div ng-controller="salesCtrl">-->
<div>
    <table class="table table-responsive">
        <tr>
            <th>S.No</th>
            <th>Model</th>
            <th>Price</th>
            <th>Select</th>
            <!--<th><div class="col-xs-2">
                 <input type="text" ng-model="search" class="form-control" /></div>--></th>
        </tr>
        <tr ng-repeat="item in salesInfo|filter:{Model:search}">
            <th>{{item.GadgetId}}</th>
            <th>{{item.Model|uppercase}}</th>
            <th>{{item.Price|currency:"$"}}</th>
            <th><input type="checkbox" ng-model="item.selected" ng-click="itemSelected(item)"/></th>
        </tr>
    </table>
    <button ng-click="checkout()" class="btn btn-primary">CheckOut</button>
    <h1>{{filterData}}</h1>
    <button ng-click="handleData()" class="btn btn-primary">Click me</button>
    <button ekart-click class="btn btn-primary" ng-class="changedClass">change color</button>
</div>