<!--<div ng-controller="salesCtrl">-->
<div>
    <table class="table table-responsive">
        <tr>
            <th>S.No</th>
            <th>Model</th>
            <th>Price</th>
            <th>Select</th>
            <!--<th><div class="col-xs-2">
                 <input type="text" ng-model="search" class="form-control" /></div>--></th>
        </tr>
        <tr ng-repeat="item in salesInfo|filter:{Model:search}">
            <th>{{item.GadgetId}}</th>
            <th>{{item.Model|uppercase}}</th>
            <th>{{item.Price|currency:"$"}}</th>
            <th><input type="checkbox" ng-model="item.selected" ng-click="itemSelected(item)"/></th>
        </tr>
    </table>
    <button ng-click="checkout()" class="btn btn-primary">CheckOut</button>
</div>


<h1>Product Description in main page</h1>
<h1>{{productName}}</h1>
<div class="row">
    <div class="col-xs-3">
        <input type="text" ng-model="productInfo.name" placeholder="name" />
    </div>
    <div class="col-xs-3">
        <input type="text" ng-model="productInfo.price" placeholder="Price" />
    </div>
</div>
<div ekart-product-details 
     product-details="productInfo"
     name-of-the-product="{{productName}}"></div>
